<h2>Departments</h2>
<ul class="departments">
  <li *ngFor="let department of departments"
    [class.selected]="department === selectedDepartment"
    (click)="onSelect(department)">
    <span class="badge">{{department.id}}</span> {{department.name}}
  </li>
</ul>

<div *ngIf="selectedDepartment">

  <h2>{{selectedDepartment.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedDepartment.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedDepartment.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>location:
      <input [(ngModel)]="selectedDepartment.location" placeholder="location"/>
    </label>
  </div>

</div>