<br>
<div class="departments1">

  <h2 class="font-weight-bold"><strong>Departments</strong></h2>
  
  
  <div>
    <label>
      <!-- Search form -->
  <div class="md-form mt-0">
      <input #departmentName class="form-control" type="text" placeholder="Name" aria-label="Search"/>
    </div>
    <div class="md-form mt-0">
      <input #departmentBuilding class="form-control" type="text" placeholder="Builing" aria-label="Search"/>
    </div>
     
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add" (click)="add(departmentName.value, departmentBuilding.value); departmentName.value='' && departmentBuilding.value=''" >
      Add
    </button>
  </div>
  <br>
  
  <ul class="departments">
    <li *ngFor="let department of departments">
      <a routerLink="/detailss/{{department.id}}">
        <span class="badge">{{department.id}}</span> {{department.name}}
      </a>
      <button class="delete" title="delete department"
        (click)="delete(department)">x</button>
    </li>
  </ul>
  </div>
