<h3>Tasks</h3>
<div class="grid grid-pad">
  <a *ngFor="let task of tasks" class="col-1-4"
      routerLink="/details/{{task.id}}">
    <div class="module task"
      popover="ID: {{task.id}} Name: {{task.name}} Department Id: {{task.department_id}} Employee(s) working on it: {{task.employees}} Deadline: {{task.due_date}}"
      triggers="mouseenter:mouseleave">
      <h4>{{task.name}}</h4>
    </div>
  </a>
</div>
<app-task-search></app-task-search>
<h3>Departments</h3>
<div class="grid grid-pad">
  <a *ngFor="let department of departments" class="col-1-4"
      routerLink="/detailss/{{department.id}}">
    <div class="module department"
    popover="ID: {{department.id}} Name: {{department.name}} Building: {{department.building}} Employee(s) working in it: {{department.employees}}"
    triggers="mouseenter:mouseleave">
      <h4>{{department.name}}</h4>
    </div>
  </a>
</div>
<app-department-search></app-department-search>
<h3>Employees</h3>
<div class="grid grid-pad">
  <a *ngFor="let employee of employees" class="col-1-4"
      routerLink="/detail/{{employee.id}}">
    <div class="module employee"
    popover="ID: {{employee.id}} Name: {{employee.name}} Position: {{employee.position}} Department: {{employee.department}}"
    triggers="mouseenter:mouseleave">
      <h4>{{employee.first_name}}</h4>
    </div>
  </a>
</div>
<app-employee-search></app-employee-search>