.tasks {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.tasks li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3em;
  border-radius: 4px;
}

.tasks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.tasks a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tasks a:hover {
  color:#607D8B;
}

.tasks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em 0.9em 0.9em 0.9em;
  background-color:#144f6e;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3.2em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button.add {
  background-color: #144f6e;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  height: 2.5em;
  color: #EEE;
}

button:hover {
  background-color: #367b99;
}

button.delete {
  inline-size: 3.5em;
  height: 3em;
  position: relative;
  left: 194px;
  top: -46px;
  background-color: rgb(119, 27, 27) !important;
  color: white;
}

.tasks1{
  margin-left: 42%;
}

.font-weight-bold {
  margin-left: 9%;
  font-family: fantasy;
}

