h1 {
  font-family: fantasy;
  font-size: 2em;
  margin-bottom: 0;
  margin-left: 48%;
  margin-top: 0px;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 8px 8px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #144f6e;
  border-radius: 25px;
  block-size: 2.8em;
  min-height: 42px;
  text-align: center;
  min-width: 140px;
  
}
nav a:visited, a:link {
  color: #e7eef1;
}
nav a:hover {
  color: #144f6e;
  background-color: #CFD8DC;
}
nav a.active {
  color: #144f6e;
}

.sections{
  margin-left: 32%;
}
body, html {
  height: 100%;
}
.bgg{
  /* The image used */
  background-image: url("https://wallpaperaccess.com/full/104815.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
