<div class="employees1">

<h2 class="font-weight-bold"><strong>Employees</strong></h2>


<div>
  <label>
    <!-- Search form -->
<div class="md-form mt-0">
    <input #employeeName class="form-control" type="text" placeholder="Name" aria-label="Search"/>
  </div>
   
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add" (click)="add(employeeName.value); employeeName.value=''">
    Add
  </button>
</div>
<br>

<ul class="employees">
  <li *ngFor="let employee of employees">
    <a routerLink="/detail/{{employee.id}}">
      <span class="badge">{{employee.id}}</span> {{employee.first_name}}
    </a>
    <button class="delete" title="delete employee"
      (click)="delete(employee)">x</button>
  </li>
</ul>
</div>