<br>
<div class="employees1">

<h2 class="font-weight-bold"><strong>Employees</strong></h2>


<div>
  <label>
    <!-- Search form -->
<div class="md-form mt-0">
    <input #employeeFirstName class="form-control" type="text" placeholder="First Name" aria-label="Search"/>
  </div>
<div class="md-form mt-0">
    <input #employeeLastName class="form-control" type="text" placeholder="Last Name" aria-label="Search"/>
  </div>
<div class="md-form mt-0">
    <input #employeeBirthDate class="form-control" type="date" placeholder="Birth Date" aria-label="Search"/>
  </div>
  <div class="md-form mt-0">
      <input #employeeDepName class="form-control" type="text" placeholder="Department Number" aria-label="Search"/>
    </div>
   
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add" (click)="add(employeeFirstName.value, employeeLastName.value); employeeFirstName.value='' && employeeLastName.value=''">
    Add
  </button>
</div>
<br>

<ul class="employees">
  <li *ngFor="let employee of employees">
    <a routerLink="/detail/{{employee.id}}">
      <span class="badge">{{employee.id}}</span> {{employee.first_name}}
    </a>
    <button class="delete" title="delete employee"
      (click)="delete(employee)">x</button>
  </li>
</ul>
</div>