<div class="position">
<div *ngIf="employee">
    <h2 class="headeroption">{{employee.first_name}} Details</h2>
    <div><span class="badge badge-ID" >ID: </span> {{employee.id}}</div>
    <div>
      <label>Name:
        <input type="text" class="form-control" [(ngModel)]="employee.first_name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>Last Name:
        <input type="text" class="form-control" [(ngModel)]="employee.last_name" placeholder="Last Name"/>
      </label>
    </div>
    <div class="font-weight-bold">
    <span class="glyphicon glyphicon-briefcase"></span>
    <br>
    <span class="badge badge-secondary"> Department: </span > {{employee.department}}</div>
    <button type="button" class="btn btn-light" (click)="goBack()">Go Back</button>
    <button class="backbutton" (click)="save()">Save</button>
  </div>
</div>
