<div class="position">
<div *ngIf="employee">
    <h2>{{employee.name}} Details</h2>
    <div><span class="badge badge-ID" >ID: </span> {{employee.id}}</div>
    <div>
      <label>Name:
        <input type="text" class="form-control" [(ngModel)]="employee.name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>Position:
        <input type="text" class="form-control" [(ngModel)]="employee.position" placeholder="position"/>
      </label>
    </div>
    <div class="font-weight-bold"><span class="badge badge-secondary">Department: </span > {{employee.department}}</div>
    <button type="button" class="btn btn-light" (click)="goBack()">Go Back</button>
    <button class="backbutton" (click)="save()">Save</button>
  </div>
</div>