label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: rgb(17, 72, 99);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 5px;
  font-family: Arial;
  background-color: #144f6e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  height: 37px;
  width: 90px;
  
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.position{
  margin-left: 43%;
}
.backbutton{
  margin-left: 9%;
  background-color: rgb(138, 19, 45);
  color: rgb(252, 248, 248);
  height: 45px;
  width: 85px;
  margin-top: 35px;
  
  
}
.form-control{
  width: 200px;
}

.headeroption{
  margin-left: 3%;
  font-family: fantasy;
}