<div class="position">
  <div *ngIf="department">
      <h2 class="headeroption">{{department.name}} Details</h2>
      <div><span class="badge badge-ID" >ID: </span> {{department.id}}</div>
      <div>
        <label>Name:
          <input type="text" class="form-control" [(ngModel)]="department.name" placeholder="name"/>
        </label>
      </div>
      <div>
        <label>Building:
          <input type="text" class="form-control" [(ngModel)]="department.building" placeholder="building" #depBuilding/>
        </label>
      </div>
      <div class="font-weight-bold"><span class="badge badge-secondary">Employee(s) working in it: </span> {{department.employees}}</div>
      <button type="button" class="btn btn-light" (click)="goBack()">Go Back</button>
      <button class="backbutton" (click)="save()">Save</button>
    </div>
  </div>
