<div *ngIf="department">
    <h2>{{department.name | uppercase}} Details</h2>
    <div><span>id: </span>{{department.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="department.name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>location:
        <input [(ngModel)]="department.location" placeholder="location"/>
      </label>
    </div>
    <div><span>Employee(s) working in it: </span>{{department.employees}}</div>
    
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
