<div class="position">
<div *ngIf="task">
  <h2 class="headeroption">{{task.name}} Details</h2>
  <div><span class="badge badge-ID" >ID: </span>{{task.id}}</div>
  <div>
    <label>Name:
      <input type="text" class="form-control" [(ngModel)]="task.name" placeholder="name"/>
    </label>
  </div>
  <div class="font-weight-bold"><span class="badge badge-secondary">Department: </span>{{task.department_id}}</div>
  <div class="font-weight-bold"><span class="badge badge-secondary">Employee(s) working on it: </span>{{task.employees}}</div>
  <div class="font-weight-bold"><span class="badge badge-secondary">Deadline: </span>{{task.due_date}}</div>

  <button type="button" class="btn btn-light" (click)="goBack()">Go Back</button>
  <button class="backbutton" (click)="save()">Save</button>
</div>
</div>