<div *ngIf="task">
  <h2>{{task.name | uppercase}} Details</h2>
  <div><span>id: </span>{{task.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="task.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>department:
      <input [(ngModel)]="task.department" placeholder="department"/>
    </label>
  </div>
  <div>
    <label>employee:
      <input [(ngModel)]="task.employee" placeholder="employee"/>
    </label>
  </div>
  


  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>